{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>

	<style>
		#main-footer{
			position: fixed;
			padding: 10px 10px 0px 10px;
			bottom: 0%;
			width: 90%;
			height: 40px;
		}
	</style>

	<meta charset="UTF-8">
	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% block extrastatic %}
	{% endblock %}

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<title>{% block title %}Naruto Request {% endblock %}</title>
</head>
<body>
<div class="container">

	{% block navbar %}
		<div class="bs-docs-section clearfix">
		    <div class="row">
		        <div class="col-lg-12">
		            <div class="bs-component">
		            	<nav class="navbar navbar-default">
		                	<div class="container-fluid">
								<div class="navbar-header">
		                    		<a class="navbar-brand" href="{% url 'village:home' %}">Home</a>
		                  		</div>
		                  	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		                    	<ul class="nav navbar-nav">
		                      		<li class="dropdown">
		                        		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Persons <span class="caret"></span></a>
										<ul class="dropdown-menu" role="menu">
											<li><a href="{% url 'village:person' %}">Person</a></li>
			                        	</ul>
									</li>
			                        <li class="dropdown">
			                        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Ninjas <span class="caret"></span></a>
			                        	<ul class="dropdown-menu" role="menu">
											<li><a href="{% url 'village:ninja' %}">Ninja</a></li>
											<li><a href="{% url 'village:medical' %}">Medical Ninja</a></li>
											<li><a href="{% url 'village:genin' %}">Genin</a></li>
											<li><a href="{% url 'village:chunin' %}">Chunin</a></li>
											<li><a href="{% url 'village:jounin' %}">Jounin</a></li>
			                        	</ul>
									</li>
									<li class="dropdown">
		                        		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Missions <span class="caret"></span></a>
				                        <ul class="dropdown-menu" role="menu">
				                        	<li><a href="{% url 'village:mission' %}">Mission</a></li>
											<li><a href="{% url 'village:client' %}">Client</a></li>
				                        </ul>
									</li>
									<li class="dropdown">
		                        		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Teams <span class="caret"></span></a>
				                        <ul class="dropdown-menu" role="menu">
				                        	<li><a href="{% url 'village:team' %}">Team</a></li>
				                        </ul>
									</li>
									<li class="dropdown">
		                        		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Others <span class="caret"></span></a>
				                        <ul class="dropdown-menu" role="menu">
				                        	<li><a href="{% url 'village:technique' %}">Technique</a></li>
											<li><a href="{% url 'village:attack' %}">Attack Technique</a></li>
											<li><a href="{% url 'village:curative' %}">Curative Technique</a></li>
											<li><a href="{% url 'village:parchment' %}">Parchment</a></li>
											<li><a href="{% url 'village:invocation' %}">Invocation</a></li>
				                        </ul>
									</li>
									<li class="dropdown">
		                        		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Relevant Queries <span class="caret"></span></a>
				                        <ul class="dropdown-menu" role="menu">
				                        	<li><a href="{% url 'village:medical_gender' %}">Medical Ninjas - Gender</a></li>
											<li><a href="{% url 'village:captain_mission' %}">Captains - Missions</a></li>
											<li><a href="{% url 'village:ninja_invocation_mission' %}">Ninjas - Invocations - Missions</a></li>
											<li><a href="{% url 'village:technique_mission' %}">Techniques - Missions</a></li>
											<li><a href="{% url 'village:medical_mission' %}">Medical - Captains</a></li>
											<li><a href="{% url 'village:missions_reward' %}">Missions - Rewards</a></li>
				                        </ul>
									</li>
		                    	</ul>
		                    	<ul class="nav navbar-nav navbar-right">
		                        	<li class="dropdown"><a href="http://github.com/rolysr" onclick="pageTracker._link(this.href); return false;">Developer</a>
		                        	</li>
		                        	<li class="dropdown">
		                        		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings<span class="caret"></span></a>
		                        		<ul class="dropdown-menu" role="menu">
		                          			<li><a href="/admin/">Go to Admin</a></li>
											<li><a href="/accounts/register/">Go to Admin Registration</a></li>
		                        		</ul>
		                      		</li>
		                    	</ul>
		                    </div>
		                </div>
		            </nav>
		        </div>
           	</div>
        </div>
    </div>  

	{% endblock %}


	{% block content %}
	<h4>	Bloque de contenido		</h4>
	{% endblock %}


	{% block footer %}
	<footer id="main-footer" class="py-4 bg-primary text-white text-center">
		Copyright &copy;
		<span class="year"></span> TEAM 4 2022
	</footer>
	{% endblock%}
	

</div>
	<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.3.1.min.js' %} "></script>
  	<script src="{% static 'js/bootstrap.bundle.min.js' %} "></script>
  	<script src="{% static 'js/lightbox.min.js' %} "></script>
  	<script src="{% static 'js/main.js' %} "></script>

	{% block extrajs %}
	{% endblock %}

</body>
</html>