{% extends 'base/base.html' %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>ID</td>
			<td>Name</td>
			<td>Nickname</td>
			<td>Max Chakra Amount</td>
			<td>Techniques</td>
			<td>Invocations</td>
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for object in object_list %}
		<tr>
			<td>{{ object.person_id }}</td>
			<td>{{ object.person.name_p }}</td>
			<td>{{ object.nickname }}</td>
			<td>{{ object.max_chakra_amount }}</td>
			<td>
				{%for t in object.techniques.all%}
					<ul>{{ t }}</ul>
				{% endfor %}
			</td>
			<td>
				{%for t in object.invocations.all%}
					<ul>{{ t }}</ul>
				{% endfor %}
			</td>
		</tr>
		{% endfor %}
		{% else %}
		<h1>There is not ninjas registers</h1>
		{% endif %}
	</tbody>
</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a> 
    	{% endif %}
    </li>
</ul>

{% endblock%}